{{define "layout"}}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
  <link rel="stylesheet" href="/webroot/css/default.css">
  <title>{{.title}}</title>
</head>

<body>
  {{template "content" .}}
</body>

</html>
{{end}}
